@media only screen and (max-width: 768px) {
    header > h1 {
        font-size: 3rem;
        margin-top: 1rem; /* Ajusta o espaçamento superior */
    }

    img {
        width: 200px; /* Reduz o tamanho da imagem */
        height: 200px;
        margin-top: 1rem; /* Adiciona espaço acima da imagem */
    }

    button {
        width: 150px; /* Reduz a largura do botão */
        font-size: 1.5rem; /* Reduz o tamanho da fonte do botão */
        padding: 8px; /* Ajusta o padding do botão */
        margin-top: 1rem; /* Adiciona espaço acima do botão */
    }

    /* Centraliza a imagem */
    img {
        position: static;
        transform: none;
        margin: 0 auto;
    }

    /* Posiciona o botão abaixo da imagem */
    button {
        position: static;
        transform: none;
        margin: 0 auto;
        display: block; /* Garante que o botão seja exibido como um bloco */
    }

    button#startButton {
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Media query para telas maiores que 1200px */
@media only screen and (min-width: 1200px) {
    header > h1 {
        font-size: 7rem; /* Aumenta o tamanho do texto conforme desejado */
    }

    img {
        width: 400px; /* Ajusta o tamanho da imagem */
        height: 400px;
    }

    button {
        width: 250px; /* Aumenta o tamanho do botão */
        font-size: 2rem; /* Aumenta o tamanho da fonte do botão */
        padding: 12px; /* Ajusta o padding do botão */
    }

    /* Centraliza a imagem */
    img {
        position: static;
        transform: none;
        margin: 0 auto;
    }

    /* Posiciona o botão abaixo da imagem */
    button {
        position: static;
        transform: none;
        margin: 0 auto;
        display: block; /* Garante que o botão seja exibido como um bloco */
    }

    button#startButton {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}