/* Estilos para celulares */
@media only screen and (max-width: 767px) {
    header > h1 {
        font-size: 2.5rem; 
        margin-top: 1rem;
    }

    img {
        width: 150px; 
        height: 150px;
    }

    button {
        width: 120px; 
        font-size: 1.2rem; 
        padding: 8px;
    }

    /* Centraliza a imagem e o botão */
    img, button {
        position: static;
        transform: none;
        margin: 0 auto;
    }

    button#startButton {
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Estilos para tablets */

/* Estilos para PCs com resolução HD (1280x720) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    header > h1 {
        font-size: 4.5rem;
        margin-top: 1.5rem;
    }

    img {
        width: 250px;
        height: 250px;
    }

    button {
        width: 160px;
        font-size: 1.6rem;
        padding: 12px;
    }

    /* Centraliza a imagem e o botão */
    img, button {
        position: static;
        transform: none;
        margin: 0 auto;
    }

    button#startButton {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Estilos para PCs com resolução Full HD (1920x1080) */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
    header > h1 {
        font-size: 5.5rem;
        margin-top: 2rem;
    }

    img {
        width: 300px;
        height: 300px;
    }

    button {
        width: 200px;
        font-size: 1.8rem;
        padding: 12px;
    }

    /* Centraliza a imagem e o botão */
    img, button {
        position: static;
        transform: none;
        margin: 0 auto;
    }

    button#startButton {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Estilos para PCs com resolução 4K (3840x2160) */
@media only screen and (min-width: 3840px) {
    header > h1 {
        font-size: 7rem;
        margin-top: 2rem;
    }

    img {
        width: 400px;
        height: 400px;
    }

    button {
        width: 250px;
        font-size: 2rem;
        padding: 15px;
    }

    /* Centraliza a imagem e o botão */
    img, button {
        position: static;
        transform: none;
        margin: 0 auto;
    }

    button#startButton {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}